   <header id="top">
      <%= render "news_updates/listing" %>
     <h1><a href="/"><img src="https://3.bp.blogspot.com/-UmNkwgGIo8k/VmYNRSIsbII/AAAAAAAAAfM/DHdQ3lmas0g/s750/bbru_bnr_03.png" height="152"></a></h1>
      <span id="maintoggle"> ☰ </span> <!-- Maybe icon would be better, I'm not sure -->
      <nav id="nav">
        <%= render "layouts/main_links" %>
